.awards
	display: flex
	flex-wrap: wrap
	margin: 0 0 rem(-83) rem(-145)

	&__item
		width: calc((100% - rem(145) * 2) / 2)
		margin: 0 0 rem(83) rem(145)

.award
	display: flex

	&__img
		width: 165px
		flex: none
		margin-right: rem(30)

		img
			display: block