.page-lc

	#content
		background-image: url('../img/photos/lc-banner.jpg')
		background-position: 50% 50%
		background-repeat: no-repeat
		background-size: cover
		margin-bottom: 0
		padding-bottom: 194px

	.title-block__cont
		margin-bottom: 0

	.head, #content
		*
			color: #fff


	.head
		background-color: transparent

.lc-nav
	&__item
		text-align: center

	&__link
		font-size: rem(57)
		font-weight: bold
		line-height: 146.28%

		&:hover
			color: var(--mainColor) !important

