footer.footer
	.wrapper
		.footer__top
			.footer__logo
				a.logo(href="#")
					include ../../img/ico-mossman.svg
			.footer__menu
				.menu
					.menu__item
						a(href="#").menu__link Кухни
						.submenu
							.submenu__item
								a.submenu__link(href="#") По стилям
							.submenu__item
								a.submenu__link(href="#") По коллекции

					.menu__item
						a(href="#").menu__link О компании
						.submenu
							.submenu__item
								a.submenu__link(href="#") Производство
							.submenu__item
								a.submenu__link(href="#") Партнеры
							.submenu__item
								a.submenu__link(href="#") Новости
							.submenu__item
								a.submenu__link(href="#") Вакансии

					.menu__item
						a(href="#").menu__link Покупателям
						.submenu
							.submenu__item
								a.submenu__link(href="#") Где покупать
							.submenu__item
								a.submenu__link(href="#") Готовые проекты
							.submenu__item
								a.submenu__link(href="#") Акции
							.submenu__item
								a.submenu__link(href="#") Советы эксперта

					.menu__item
						a(href="#").menu__link Сотрудничество
						.submenu
							.submenu__item
								a.submenu__link(href="#") Диллерам
							.submenu__item
								a.submenu__link(href="#") Дизайнерам

					.menu__item
						.menu__link Контакты
						.submenu 428000<br> г. Челябинск<br> Лапсарский пр.39
							
		.footer__bot
			.footer__copy ©MOSSMAN 2018

			.footer__phone
				address.f-phone
					a(href="tel: 8 (800) 600-07-06") 8 (800) 600-07-06
					span звонок по России бесплатный
			
			.footer__mail
				address.f-mail
					a(href="mailto: info@mossman.ru") info@mossman.ru
			.footer__devaloper
				a.developer(href="#")
					img.developer__img(src="img/ico-dev.svg", alt="Xpage")