<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="utf-8")
		title 404
		include inc/head.pug
		include inc/css.pug
	body.inner.loading
		header.head
			.wrapper
				.head__wrap
					.head__logo
						a.logo(href="#")
							img(src="img/logo.png" srcset="img/logo@2x.png 2x, img/logo@3x.png 3x")
							img(src="img/logo-inner.png", alt="")
					.head__phone
						a(href="tel: 88006000706") 8 800 600 07 06
					nav.head__menu
						ul.head__menu-list 
							li.head__menu-item
								.head__menu-item-burger
								a(href="#").head__menu-link Кухни
								.submenu
									.submenu__item
										a.submenu__link(href="#") По стилям
									.submenu__item
										a.submenu__link(href="#") По коллекции

							li.head__menu-item
								a(href="#").head__menu-link О компании
							li.head__menu-item
								a(href="#").head__menu-link Покупателям
							li.head__menu-item
								a(href="#").head__menu-link Сотрудничество
							li.head__menu-item
								a(href="#").head__menu-link Контакты

					.head__burger
						.burger
							span
		main#content
			.main-content
				section.error__cont
					
					.wrapper--min
						.error
							.error-num 404
							.error-info
								.error-info__text Ой, что-то пошло не так :(<br> Страница не найдена!
								a(href="#").error-info__link Вернуться назад
					.error-bg 
						.error-bg__text not found

							





			
		include inc/footer.pug
		include inc/scripts.pug