<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="utf-8")
		title Карточка товара
		include inc/head.pug
		include inc/css.pug
	body.inner.page-kitchen.loading
		header.head
			.wrapper
				.head__wrap
					.head__logo
						a.logo(href="#")
							img(src="img/logo.png" srcset="img/logo@2x.png 2x, img/logo@3x.png 3x")
							img(src="img/logo-inner.png", alt="")
					.head__phone
						a(href="tel: 88006000706") 8 800 600 07 06
					nav.head__menu
						ul.head__menu-list 
							li.head__menu-item
								.head__menu-item-burger
								a(href="#").head__menu-link Кухни
								.submenu
									.submenu__item
										a.submenu__link(href="#") По стилям
									.submenu__item
										a.submenu__link(href="#") По коллекции

							li.head__menu-item
								a(href="#").head__menu-link О компании
							li.head__menu-item
								a(href="#").head__menu-link Покупателям
							li.head__menu-item
								a(href="#").head__menu-link Сотрудничество
							li.head__menu-item
								a(href="#").head__menu-link Контакты

					.head__burger
						.burger
							span
		main#content
			.main-content
				.cart-one__slider
					.cart-one__slider-arrow
					.slider-progress
						.progress
					.cart-one__slider-list
						.cart-one__slider-item
							figure.cart-one__slider-img
								img(src="img/photos/cart-one-img.jpg", alt="")
							.cart-one__slider-info
								.wrapper
									.cart-one__slider-text
										.cart-one__slider-title Nevada
										.cart-one__slider-subtitle кухня
						.cart-one__slider-item
							figure.cart-one__slider-img
								img(src="img/photos/cart-one-img.jpg", alt="")
							.cart-one__slider-info
								.wrapper
									.cart-one__slider-text
										.cart-one__slider-title Nevada
										.cart-one__slider-subtitle кухня
						.cart-one__slider-item
							figure.cart-one__slider-img
								img(src="img/photos/cart-one-img.jpg", alt="")
							.cart-one__slider-info
								.wrapper
									.cart-one__slider-text
										.cart-one__slider-title Nevada
										.cart-one__slider-subtitle кухня
						.cart-one__slider-item
							figure.cart-one__slider-img
								img(src="img/photos/cart-one-img.jpg", alt="")
							.cart-one__slider-info
								.wrapper
									.cart-one__slider-text
										.cart-one__slider-title Nevada
										.cart-one__slider-subtitle кухня

				.wrapper--min
					.cart-one__slider-nav
						.cart-one__slider-nav-list
							.cart-one__slider-nav-item
								figure.cart-one__slider-nav-img
									img(src="img/photos/cart-one-img-2.jpg", alt="")
							.cart-one__slider-nav-item
								figure.cart-one__slider-nav-img
									img(src="img/photos/cart-one-img-2.jpg", alt="")
							.cart-one__slider-nav-item
								figure.cart-one__slider-nav-img
									img(src="img/photos/cart-one-img-2.jpg", alt="")
							.cart-one__slider-nav-item
								figure.cart-one__slider-nav-img
									img(src="img/photos/cart-one-img-2.jpg", alt="")
					.cart-one__info
						.cart-one__info-top
							.cart-one__info-item
								.item-label Кухня
								.item-title Nevada

							.cart-one__info-item
								.item-price от 33 600 руб./за п. м
								.circle.hit Хит
							.cart-one__info-item
								.item-label Mossman
								.item-title В стиле лофт
						.cart-one__info-bot
							.cart-one__bot-list
								.cart-one__info-item
									.item-bot-label Фасад
									.item-bot-text Плита ламинированная SYNCRON<br> (Alvic, Испания)
								.cart-one__info-item
									.item-bot-label Отделка:
									.item-bot-text 6 стандартных декоров
								.cart-one__info-item
									.item-bot-label Стандартное исполнение фасада:
									.item-bot-text Глухой, стекло в рамке ДАЛ
								.cart-one__info-item
									.item-bot-label Стиль:
									.item-bot-text Современный, минимализм, лофт, хай-тек
								.cart-one__info-item
									.item-bot-label Виды фасадов:
									.item-bot-text Прямой (возможно использование<br> профиль-ручки Gola)
							.cart-one__btn
								.cart-one__btn-list
									.cart-one__btn-item
										a(href="#").ico-design Пригласить дизайнера
									.cart-one__btn-item
										a(href="#").ico-calc Расчет стоимости

					.cart-one__description
						.cart-one__description-title Описание модели
						.text-page
							p изайнеры Mossman любят путешествовать в поисках новых впечатлений. Вдохновляясь красотой природы, была создана модель Nevada, основа которой — уникальный рисунок древесной структуры и неповторимое благородство камня.
							p Фасады кухни изготовлены из плиты Syncron испанской компании Alvic: структурированная поверхность синхронизирована с рисунком за счёт глубокого тиснения, а матовая фактура придаёт интерьеру тепла и спокойствия. Имитируя текстуру деревянного шпона и камня, за счёт такого решения плита не только на вид, но и на ощупь неотличима от натуральной.
							p Кухня Nevada создаёт ощущение уюта и свободы — те чувства, которые можно ощутить одновременно только на природе. Гармоничный внешний вид дополнен бескомпромиссной функциональностью и удобством: автоматические системы плавного и беззвучного закрытия Blum Legrabox и Aventos сделают ваше пребывание на кухне ещё более комфортным.
							p Кухня Nevada — это современное, практичное и доступное решение для любого интерьера.

					.main-sliders__cont
						.main-sliders
							.main-sliders__title-cont
								.main-sliders__title.active(data-id="stock") Виды фасадов
								//- .main-sliders__switcher
								//- 	.sliders-switcher
								//- 		.sliders-switcher__circle
								.main-sliders__title(data-id="new") Рекомендуемые ручки
							.main-sliders__sliders
								.stock-slider#stock.active
									button.slick-prev.slick-arrow
									.swiper-list
										.swiper-wrapper
											- for (let i = 0; i < 4; i++)
												.swiper-slide
													.stock-slider__slide
														a.cat-item(href="#")
															.cat-item__img
																img(src="img/photos/stock-img-"+(i+1)+".jpg")
															.cat-item__text
																span HN-I-4187-160-I
																span железо
																span замок
																span 20 × 192 × 46
										.swiper-pagination
									button.slick-next.slick-arrow
								.stock-slider#new
									button.slick-prev.slick-arrow
									.swiper-list
										.swiper-wrapper
											- for (let i = 0; i < 4; i++)
												.swiper-slide
													.stock-slider__slide
														a.cat-item(href="#")
															.cat-item__img
																img(src="img/photos/stock-img-"+(i+1)+".jpg")
															.cat-item__text
																span HN-I-4187-160-I
																span железо
																span замок
																span 20 × 192 × 46
										.swiper-pagination
									button.slick-next.slick-arrow

					section.btn-action
						.btn-action__list

							a(href="#") 
								span
									include ../img/ico-pencil.svg
								| Пригласить дизайнура
							a(href="#")
								span
									include ../img/ico-calc.svg
								| Расчет стоимости














				
				



		

		include inc/footer.pug
		include inc/scripts.pug