<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="utf-8")
		title формы
		include inc/head.pug
		include inc/css.pug
	body.inner.loading
		include inc/header.pug
		
		main#content
			.inner-content__cont
				.wrapper
					.title-block
						.title-block__crumbs
							ul.bread-crumbs
								li.bread-crumbs__link(itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb")
									a(href="#" title="Главная" itemprop="url")
										span(itemprop="title") Главная
								li.bread-crumbs__this формы
						.title-block__title
							h1 формы
					.inner-content
						.cart
							.forms-list
								//- a.default-btn.fancybox(href="#auth") Вход
								//- a.default-btn.fancybox(href="#reg") Регистрация
								a.default-btn.fancybox(href="#order") Заявка на сотрудничество
								br
								br
								a.default-btn.fancybox(href="#1") Узнай стоимость своей кухни
		include inc/footer.pug
		.popup-form#auth
			.popup-form__title Вход
			.popup-form__content
				form(action="")
					.forms-wrap.forms-wrap--column
						.forms__input-cont
							input.forms__input(type="text" required="" placeholder="E-mail")
							label.forms__label Логин
						.forms__input-cont
							input.forms__input(type="password" required="")
							label.forms__label Пароль
					.forms-bot
						input.arrow-btn(type="submit" value="Войти")
						.forms-bot__links
							.form-links
								a.form-links__link.fancybox(href="#forgot") Забыли пароль?
								a.form-links__link.fancybox(href="#reg") Регистрация

		.popup-form#order
			.popup-form__title Заявка<br> на сотрудничество
			.popup-form__text Заполните заявку для получения коммерческого предложения
			
			.popup-form__content
				form(action="")
					.forms-wrap
						.forms__input-cont
							input.forms__input(type="text" required="" placeholder="")
							label.forms__label Ваше имя
						.forms__input-cont
							input.forms__input(type="text" required="" placeholder="")
							label.forms__label Фамилия
						.forms__input-cont
							input.forms__input(type="email" required="")
							label.forms__label E-mail
						.forms__input-cont
							input.forms__input(type="tel" required="")
							label.forms__label Телефон
						.forms__input-cont
							select.forms__input(type="text" required="" placeholder="")
								option(value="1") Челябинск
								option(value="2") Москва
							label.forms__label Город, в котором плпнируется открытие
						.forms__input-cont
							textarea.forms__input(type="text" required="")
							label.forms__label Сообщение
					.forms-bot
						input.arrow-btn(type="submit" value="Отправить")
						.forms-bot__links
							.form-links
								p Нажимая кнопку вы даете информированное<br>  согласие на 
									a(href="#" target="_blank") обработку своих персональных данных
		.popup-form#reg
			.popup-form__title Регистрация
			.popup-form__content
				form(action="")
					.forms-wrap.forms-wrap--column
						.forms__input-cont
							input.forms__input(type="text" required="")
							label.forms__label ФИО
						.forms__input-cont
							input.forms__input(type="text" required="")
							label.forms__label E-mail
						.forms__input-cont
							input.forms__input(type="password" required="")
							label.forms__label Пароль
						.forms__input-cont
							input.forms__input(type="password" required="")
							label.forms__label Повторить пароль
					.forms-bot
						input.arrow-btn(type="submit" value="Зарегистрироваться")



		.popup-form.popup-stocks#1
			.popup-banner
				img(src="img/photos/mossman-banner.jpg", alt="")
			.popup-form__title Закажи расчет стоимости кухни
			.popup-form__content
				form(action="")
					.forms-wrap
						.forms__input-cont
							input.forms__input(type="text" required="" placeholder="")
							label.forms__label Ваше имя
						.forms__input-cont
							select.forms__input(type="text" required="" placeholder="")
								option(value="1") Челябинск
								option(value="2") Москва
							label.forms__label Город
						.forms__input-cont
							input.forms__input(type="tel" required="")
							label.forms__label Телефон
						.forms__input-cont
							input.forms__input(type="email" required="")
							label.forms__label E-mail не обязателен, но на него
								| <br>
								|мы пришлем онлайн-каталог 2020
					.forms-bot
						input.arrow-btn(type="submit" value="Просчитать")
						.forms-bot__links
							.form-links
								p Нажимая кнопку вы даете информированное<br>  согласие на 
									a(href="#" target="_blank") обработку своих персональных данных

		include inc/scripts.pug