<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="utf-8")
		title Mossman
		link(rel="shortcut icon" href="favicon.ico")
		link(rel="stylesheet" href="css/common.css")
		style(type="text/css")
			include inc/index.css
	body
		div
			.links
				.logo
					img(src="img/logo.png")
				.links_cont
					ul
						li
							a(target="_blank" href="main.html") Главная
						li
							a(target="_blank" href="catalog.html") Каталог

						li
							a(target="_blank" href="cart-one.html") Карточка товара
						li
							a(target="_blank" href="kitchen.html") Кухни
						li
							a(target="_blank" href="stoke.html") Акции
						li
							a(target="_blank" href="404.html") 404
						li
							a(target="_blank" href="projects.html") Готовые проекты
						li
							a(target="_blank" href="news.html") Новости
						li
							a(target="_blank" href="partners.html") Партнеры
						li
							a(target="_blank" href="standart-page.html") Типовая страница
						li
							a(target="_blank" href="expert.html") Советы эксперта
						li
							a(target="_blank" href="production.html") Производство
						li
							a(target="_blank" href="contacts.html") Контакты
						li
							a(target="_blank" href="vacancies.html") Вакансии
						li
							a(target="_blank" href="cities.html") Где купить
						li
							a(target="_blank" href="forms.html") Формы
						li
							a(target="_blank" href="lc.html") Лк (разводящая)
